.add_listings-container {
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 89vh;
    padding-top: 30px;
    margin-bottom: 30px;
}

.add_listings-sign {
    text-align: center;
    margin-top: 10px;
    font-size: 36px;
    font-family: 'DM Sans', sans-serif;
    color: #033f63;
    font-weight: bold;
}

.add_listings-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10%;
    width: 100%;
    max-width: 700px;
    min-height: 400px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); 
}

.add_listings-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listings-container {
    display: flex;  
    align-items: center;     
    justify-content: start; 
    gap: 20px;
}

.balance-label {
    font-size: 16px;
    color: #033f63;
    width: 400px;
    font-family: 'DM Sans', sans-serif;
}

.field-label {
    font-size: 17px;
    padding-top: 25px;
    color: #033f63;
    width: 400px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}


.account-balance {
    padding: 10px;
    color: #033f63;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box; 
}

.listing-input {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box; 
}

.return-user-profile {
    display: inline-block;
    margin-right: 42px;
    padding: 12px;
    background-color: #033f63; 
    color: #ffffff; 
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    width: 45%;
    margin-top: 20px; 
    height: 47px;
    text-align: center;
}

.return-user-profile:hover {
    background-color: #022c47;
    color: #ffffff;
}

.upload-finish {
    display: inline-block;
    padding: 12px;
    background-color: #033f63; 
    color: #ffffff; 
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    width: 45%;
    margin-top: 20px; 
    text-align: center;
}

.upload-finish:hover {
    background-color: #022c47;
    color: #ffffff;
}





