* {
    box-sizing: border-box;
}

.profile-container {
    font-family: 'DM Sans', sans-serif;
    width: 100%;
}

.top-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.welcome {
    font-size: 40px;
    margin-right: auto;
    color: #033f63;
    font-weight: bold;
}

.profile_image {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin-left: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-grid {
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
}

.user_profile-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
}

.functionality-box {
    background-color: #b2d4eb;
    text-align: center;
    min-height: 220px;
    height: 180px;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.functionality-box:hover {
    transform: translate(0, -20px);
}

.my-listings {
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: #033f63;
    max-width: 700px;
    padding: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.applying-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.my-listings_label {
    font-size: 18px;
    color: #033f63;
    margin: 10px 0;
    font-family: 'DM Sans', sans-serif;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
}

.apply-button {
    width: 220px;
    height: 40px;
    background-color: #033f63;
    color: #ffffff;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    margin: 20px 0;
}

.apply-button:hover {
    background-color: #022c47;
    color: #ffffff;
}

.input-number {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 80%;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'DM Sans', sans-serif;
}

@media (max-width: 768px) {
    .user_profile-grid {
        grid-template-columns: 1fr; 
    }

    .welcome {
        font-size: 30px; 
    }

    .my-listings {
        font-size: 30px; 
    }

    .profile_image{
        width: 80px; 
        height: 80px;
    }

    .apply-button {
        width: 100px; 
        height: 40px;
        font-size: 14px;
    }
}
